body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;;
}
.image-size{
    width: 40px;
    height: 40px;
}
.comment-text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.community-edit{
    color: #999999;
    font-size: 13px;
}