<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Publish--zhang community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 clo-md-12 col-sm-12 col-xs-12" >
            <h3><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><span>  </span>Publish Quiz</h3>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">Solution Title</label>
                    <input type="text" class="form-control" id="title" th:value="${title}" name="title" placeholder="Problem Title...">
                </div>
                <div class="form-group">
                    <label for="description">Solution Description</label>
                    <textarea class="form-control" id="description" th:text="${description}" name="description" cols="30" rows="10" placeholder="Problem Title..."></textarea>
                    </div>
                <div class="form-group">
                    <label for="tag">Solution SCORE</label>
                <!--  这里的th:value是为了暂时将输入到input框中的值保存起来   -->
                    <input type="text" class="form-control"  id="tag" name="tag" placeholder="please evaluate solution " th:value="${tag}">
                </div>
                <span class="alert alert-danger" th:text="${error}" th:if="${error != null}"></span>
                <button class="btn btn-success btn-publish">Publish</button>
            </form>

        </div>
        <div class="col-lg-3 clo-md-12 col-sm-12 col-xs-12" >
            <h4>Issue Initiation Guide</h4>
            <span>• Question title: Please use concise language to describe the issue you posted</span>
            <span>• Supplement: Supplement your question in detail, and ensure that the question description is clear and intuitive, and provide some relevant information</span>
            <span>• Choose label: Choose one or more suitable tags</span>
        </div>
    </div>
</div>

</body>
</html>