<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learning System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 clo-md-12 col-sm-12 col-xs-12" >
            <h3><span class="glyphicon glyphicon-plus-list" aria-hidden="true"></span><span>  </span>Task details page</h3>
            <hr>
            <div class="media" th:each="task:${task.question}">
                <div class="media-left ">

                </div>
                <div class="media-body">
                    <h4 class="media-heading" >

                        <a th:href="@{'/question/'+${task.id}}" th:text="${task.title}"></a>
                    </h4>
                    <span th:text="${task.description}"></span><br>
                    <span class="comment-text"></span><span th:text="${#dates.format(task.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
                <hr>
            </div>
<!--            <nav aria-label="Page navigation">-->
<!--                <ul class="pagination">-->
<!--                    <li th:if="${pagination.showFirstPage}">-->
<!--                        <a href="/?page=1" aria-label="Previous">-->
<!--                            <span aria-hidden="true">&lt;&lt;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li th:if="${pagination.showProvious}">-->
<!--                        <a th:href="@{/(page=${pagination.page-1})}"  aria-label="Previous">-->
<!--                            <span aria-hidden="true">&lt;</span>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                    <li th:each="page: ${pagination.pages}" th:class="${pagination.page==page}? 'active':''">-->
<!--                        <a th:href="@{/(page=${page})}" th:text="${page}"></a>-->
<!--                    </li>-->

<!--                    <li th:if="${pagination.showNext}">-->
<!--                        <a th:href="@{/(page=${pagination.page+1})}"  aria-label="Next">-->
<!--                            <span aria-hidden="true">&gt;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li th:if="${pagination.showEndPage}">-->
<!--                        <a th:href="@{/(page=${pagination.totalPage})}"  aria-label="Next">-->
<!--                            <span aria-hidden="true">&gt;&gt;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
        </div>
        <p class="col-lg-3 clo-md-12 col-sm-12 col-xs-12" >
            <h3>Task details page</h3>
<!--        Submission page-->
<!--        详细任务页面-->
            <p>• This page can show different submissions. </p>
            <p>• Clicking on the name of different tasks can show the task details page(next page).</p>
            <p>• Clicking different submissions name can show the details of the submission(next page): </p>
            <p>     name of the submitter, the submission date & solution as a text.</p>

        </div>
    </div>
</div>

</body>
</html>