<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Learning System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 clo-md-12 col-sm-12 col-xs-12" >
            <h3><span class="glyphicon glyphicon-plus-list" aria-hidden="true"></span><span>  </span> Listing Page</h3>
            <hr>
            <div class="media" th:each="task: ${taskList}">
                <div class="media-left ">
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="@{'/task/'+${task.id}}" th:text="${task.title}"></a>
                    </h4>
                    <span th:text="${task.description}"></span><br>
                    <span class="comment-text">  <span th:text="${#dates.format(task.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
                <hr>
            </div>
        </div>
        <p class="col-lg-3 clo-md-12 col-sm-12 col-xs-12" >
            <h3>Listing page</h3>
            <p>• You need to login correctly when modify data firstly</p>
            <p>• After authentication list the tasks belonging to the authenticated teacher.</p>
            <hr>
        <h3>Clicking on the text: Learning System(in the upper left corner) to return to this page: Listing Page</h3>
        </div>
    </div>
</div>

</body>
</html>